@model EQServiceSystem.Models.Reports.vedMTA_inst
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <title>Ведомость наличия механического, технологического оборудования и агрегатов по институту</title>
    <legend class = "text-info">Ведомость наличия механического, технологического оборудования и агрегатов по институту</legend>  
</head>
 @using (Html.BeginForm("vedomosti", "vedomosti", FormMethod.Post))
  {
<body>
  <select selected  id="idSubDept" name="idSubDept">
                @foreach (var item in Model.sprSubDept.ToList())
                {
                    <option value = "@item.IdSubDept">@item.ShortName</option>
                } 
  </select>
      <button type="submit" name="action" value="ved_inst">Сформировать ведомость</button>
      <button type="submit" name="action" value="All-inst">Полная ведомость по институту</button>
</body>
 }