@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
  <script src="~/Content/pace/pace.min.js"></script>
  <link href="~/Content/pace/dataurl.css" rel="stylesheet" />

    <title>MainUserPage</title>
</head>
<body>
    <div id ="LoadedContent">
        <br />
        
    </div>
    <!--Styles.Render("~/Content/bootstrap.css")
    Scripts.Render("~/Scripts/bootstrap.js")-->
</body>

</html>
