@model EQServiceSystem.ViewModels.FunctionAccessManager

@using (Ajax.BeginForm("ShowItemsToSelect", "Lists", new AjaxOptions { UpdateTargetId = "LoadedItemsToSelecting" }))
{        
        <div class="editor-label">
            Выбор роли для назначения функции
        </div>
        <div class="editor-field" id="UsersField">
            <select name="SelectedObjectID">
                @foreach (var item in Model.AllRoles)
                {
                    <option value = @item.RoleId> @item.RoleName</option>
                }
            </select>
        </div>
    
        <p>
            <input type="submit" value="Создать" name=@ViewBag.AccessType />
        </p>
}