@model List<EQDataModel.sprReasonSheduleDeviation>

<legend class = "text-info">Справочник причин отступления от графика ППР (при наличии технических решений)</legend>

@using (Ajax.BeginForm("sprReasonSheduleDeviation", "Lists", new AjaxOptions { UpdateTargetId = "LoadedContent", HttpMethod = "POST" }))
{
    @ViewBag.Message
    <div class="container" id ="NormsList">
        <table class="main-table">
            <tr>
                <th class="column-header">Код</th>
                <th class="column-header">Наименование</th>
            </tr>
            
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="table-label">@Html.DisplayFor(m => m[i].ReasonID)</td>
                        <td class="table-label">@Html.DisplayFor(m => m[i].ReasonName)</td>
                    </tr>
                }
        </table>
    </div>
}

@Styles.Render("~/Content/tables-styles.css")
